node-red UI.json
[{"id":"eacd4bfd.33bf88","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"6c9a612f.cee62","type":"ui_chart","z":"eacd4bfd.33bf88","name":"","group":"e2954c12.fb978","order":1,"width":"6","height":"6","label":"Напряжение","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":610,"y":560,"wires":[[]]},{"id":"24ea9b46.56faa4","type":"ui_chart","z":"eacd4bfd.33bf88","name":"","group":"e2954c12.fb978","order":3,"width":"6","height":"6","label":"Мощность","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":610,"y":880,"wires":[[]]},{"id":"c31ce917.1551a8","type":"ui_gauge","z":"eacd4bfd.33bf88","name":"","group":"e2954c12.fb978","order":2,"width":"6","height":"6","gtype":"gage","title":"Ток","label":"","format":"{{msg.payload}} А","min":0,"max":"1000","colors":["#00b500","#0080c0","#ca3838"],"seg1":"","seg2":"","x":610,"y":740,"wires":[]},{"id":"4326bf4a.5e56e","type":"ui_text","z":"eacd4bfd.33bf88","group":"e2954c12.fb978","order":4,"width":"6","height":"1","name":"","label":"Напряжение:","format":"{{msg.payload}} В","layout":"row-center","x":620,"y":640,"wires":[]},{"id":"c48b1c89.9d8a9","type":"ui_text","z":"eacd4bfd.33bf88","group":"e2954c12.fb978","order":6,"width":"6","height":"1","name":"","label":"Мощность","format":"{{msg.payload}} кВт⋅ч","layout":"row-center","x":610,"y":940,"wires":[]},{"id":"bb8afe78.92b1b","type":"ui_text","z":"eacd4bfd.33bf88","group":"e2954c12.fb978","order":5,"width":"6","height":"1","name":"","label":"Ток","format":"{{msg.payload}} А","layout":"row-center","x":610,"y":780,"wires":[]},{"id":"915101dd.1068","type":"function","z":"eacd4bfd.33bf88","name":" Decode array","func":"//   The message returned from the read node is an\n// array as there could be multiple registers returned\n//   This reads the first value in the array.\nm = msg.payload.data[0]\nreturn {payload: m};\n","outputs":1,"noerr":0,"x":400,"y":640,"wires":[["6c9a612f.cee62","4326bf4a.5e56e"]]},{"id":"860ff35a.22237","type":"modbus-read","z":"eacd4bfd.33bf88","name":"read 1","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"1","quantity":"1","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"427a542f.07526c","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":210,"y":640,"wires":[[],["915101dd.1068"]]},{"id":"4252c0aa.d6208","type":"function","z":"eacd4bfd.33bf88","name":" Decode array","func":"//   The message returned from the read node is an\n// array as there could be multiple registers returned\n//   This reads the first value in the array.\nm = msg.payload.data[0]\nreturn {payload: m};\n","outputs":1,"noerr":0,"x":400,"y":780,"wires":[["c31ce917.1551a8","bb8afe78.92b1b"]]},{"id":"933c1aaf.2f5aa8","type":"modbus-read","z":"eacd4bfd.33bf88","name":"read 1","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"2","quantity":"1","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"427a542f.07526c","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":210,"y":760,"wires":[[],["4252c0aa.d6208"]]},{"id":"b8e1e6d3.65c698","type":"function","z":"eacd4bfd.33bf88","name":" Decode array","func":"//   The message returned from the read node is an\n// array as there could be multiple registers returned\n//   This reads the first value in the array.\nm = msg.payload.data[0]\nreturn {payload: m};\n","outputs":1,"noerr":0,"x":400,"y":920,"wires":[["24ea9b46.56faa4","c48b1c89.9d8a9"]]},{"id":"a9f92504.9fa048","type":"modbus-read","z":"eacd4bfd.33bf88","name":"read 1","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"3","quantity":"1","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"427a542f.07526c","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":238.2131404876709,"y":913.2158918380737,"wires":[[],["b8e1e6d3.65c698"]]},{"id":"e2954c12.fb978","type":"ui_group","name":"Показания счётчика","tab":"cbc56864.07cf98","order":1,"disp":true,"width":"18","collapse":false},{"id":"427a542f.07526c","type":"modbus-client","name":"local2","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"COM1","serialType":"RTU","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectOnTimeout":false,"reconnectTimeout":2000,"parallelUnitIdsAllowed":false},{"id":"cbc56864.07cf98","type":"ui_tab","name":"Система контроля электроэнергии","icon":"dashboard","order":5,"disabled":false,"hidden":false}]