node-red UI 2.json
[{"id":"3007b84d.585828","type":"tab","label":"MODSCAN ","disabled":false,"info":""},{"id":"518d47aa.bcb938","type":"comment","z":"3007b84d.585828","name":"CONNECTION","info":"","x":118.46179962158203,"y":41.56597328186035,"wires":[]},{"id":"d8bd00c6.4441f","type":"ui_text_input","z":"3007b84d.585828","name":"","label":"Адрес","tooltip":"","group":"b079e2a.7753f2","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":536.4617919921875,"y":131.01041412353516,"wires":[["606bf156.41c3"]]},{"id":"3e658f6f.6cb3c","type":"modbus-flex-connector","z":"3007b84d.585828","name":"connection","maxReconnectsPerMinute":4,"emptyQueue":false,"showStatusActivities":false,"showErrors":false,"server":"5876d9d3.3456c8","x":450.46185302734375,"y":385.01045298576355,"wires":[[]]},{"id":"f4df0c24.1b02c","type":"ui_text_input","z":"3007b84d.585828","name":"","label":"Порт","tooltip":"","group":"b079e2a.7753f2","order":4,"width":"3","height":"1","passthru":true,"mode":"text","delay":300,"topic":"","x":536.4791259765625,"y":175.01040649414062,"wires":[["ad832272.c1a76"]]},{"id":"606bf156.41c3","type":"function","z":"3007b84d.585828","name":"save","func":"var options = flow.get(\"TCP_Connection\") || {};\n\noptions.tcpHost = msg.payload;\n\nflow.set(\"TCP_Connection\", options);","outputs":"0","noerr":0,"x":700.017333984375,"y":131.23263549804688,"wires":[]},{"id":"ad832272.c1a76","type":"function","z":"3007b84d.585828","name":"save","func":"var options = flow.get(\"TCP_Connection\") || {};\n\noptions.tcpPort = msg.payload;\n\nflow.set(\"TCP_Connection\", options);","outputs":"0","noerr":0,"x":698.017333984375,"y":175.23263549804688,"wires":[]},{"id":"17332db6.9ffd62","type":"ui_text_input","z":"3007b84d.585828","name":"","label":"Slave ID","tooltip":"","group":"b079e2a.7753f2","order":5,"width":"3","height":"1","passthru":true,"mode":"text","delay":300,"topic":"","x":545.4791412353516,"y":225.23263549804688,"wires":[["ed279caf.4274c"]]},{"id":"ed279caf.4274c","type":"function","z":"3007b84d.585828","name":"save","func":"var options = flow.get(\"TCP_Connection\") || {};\n\noptions.unitId = msg.payload;\n\nflow.set(\"TCP_Connection\", options);","outputs":"0","noerr":0,"x":697.0173492431641,"y":225.45486450195312,"wires":[]},{"id":"6fff632c.675e9c","type":"inject","z":"3007b84d.585828","name":"","repeat":"","crontab":"","once":true,"topic":"","payload":"TCP_Connection","payloadType":"flow","x":136,"y":147.23263549804688,"wires":[["387c8f76.0fe67","7246ca2.4831f34","a4883537.fd0a58","df543765.66fc68"]]},{"id":"387c8f76.0fe67","type":"change","z":"3007b84d.585828","name":"set","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.tcpHost","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":385.0173645019531,"y":131.23263549804688,"wires":[["d8bd00c6.4441f"]]},{"id":"7246ca2.4831f34","type":"change","z":"3007b84d.585828","name":"set","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.tcpPort","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":383.0173645019531,"y":175.23263549804688,"wires":[["f4df0c24.1b02c"]]},{"id":"a4883537.fd0a58","type":"change","z":"3007b84d.585828","name":"set","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.unitId","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380.0173645019531,"y":225.23263549804688,"wires":[["17332db6.9ffd62"]]},{"id":"c23376c3.7cc9d8","type":"ui_button","z":"3007b84d.585828","name":"connectTCP","group":"b079e2a.7753f2","order":6,"width":0,"height":0,"passthru":false,"label":"Подключить","tooltip":"","color":"","bgcolor":"","icon":"compare_arrows","payload":"TCP_Connection","payloadType":"flow","topic":"","x":109.01741790771484,"y":357.2326593399048,"wires":[["81514fd0.532d5"]]},{"id":"81514fd0.532d5","type":"function","z":"3007b84d.585828","name":"connect","func":"var options = msg.payload;\nvar error = {topic: \"TCP Connect\"};\nvar configs = flow.get('configs_TCP') || [];\n\noptions.connectorType = \"TCP\";\n\nif(!options.name || options.name === \"\"){\n    options.name = \"No name\";\n}\n\nif(!options.tcpPort)\n    options.tcpPort = 502;\n\nif(!options.tcpHost){\n    error.payload = \"TCP Host address not Valid\";\n    node.error(\"Error\",error);\n    return;\n}\n\nvar index = configs.findIndex(function(conf) {\n    return conf.name == options.name;\n});\n\nif(index < 0)\n    configs.push(options);\nelse\n    configs[index] = options;\n    \nflow.set('configs_TCP', configs);\n\nnode.send([msg, {payload:configs, topic:\"init\"}]);","outputs":"2","noerr":0,"x":288.0174217224121,"y":357.23265838623047,"wires":[["3e658f6f.6cb3c","8dee1c7f.d8241"],["518c79c8.bf0d98"]]},{"id":"bac3fbb6.bea3e8","type":"ui_text_input","z":"3007b84d.585828","name":"custom port","label":"или выберите пользовательский порт","tooltip":"","group":"4fe0301e.33802","order":4,"width":"6","height":"1","passthru":true,"mode":"text","delay":300,"topic":"","x":1330.03466796875,"y":157.23262786865234,"wires":[["bd0c13b8.18979"]]},{"id":"6d01ef58.de6eb","type":"ui_text_input","z":"3007b84d.585828","name":"","label":"Slave ID","tooltip":"","group":"4fe0301e.33802","order":5,"width":"3","height":"1","passthru":true,"mode":"text","delay":300,"topic":"","x":1318.034683227539,"y":200.4548568725586,"wires":[["b9883b89.d7b0f8"]]},{"id":"f0258c4f.dfc12","type":"inject","z":"3007b84d.585828","name":"","repeat":"","crontab":"","once":true,"topic":"","payload":"SERIAL_Connection","payloadType":"flow","x":926.5555419921875,"y":152.4548568725586,"wires":[["32b2795f.f9f746","52822920.d8f8b8","a6aa7b0b.bc7cb8","743b34e2.0a022c","88c6cbfe.471658"]]},{"id":"32b2795f.f9f746","type":"change","z":"3007b84d.585828","name":"set","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.serialPort","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1162.5729064941406,"y":157.4548568725586,"wires":[["bac3fbb6.bea3e8"]]},{"id":"52822920.d8f8b8","type":"change","z":"3007b84d.585828","name":"set","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.unitId","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1160.5729064941406,"y":200.4548568725586,"wires":[["6d01ef58.de6eb"]]},{"id":"7199d023.e1c6d","type":"function","z":"3007b84d.585828","name":"save","func":"var options = flow.get(\"SERIAL_Connection\") || {};\n\nif(msg.payload)\n    options.serialPort = msg.payload;\n\nflow.set(\"SERIAL_Connection\", options);","outputs":"0","noerr":0,"x":1479.5728759765625,"y":111.4548568725586,"wires":[]},{"id":"a6aa7b0b.bc7cb8","type":"change","z":"3007b84d.585828","name":"set","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.serialPort","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1164.5729064941406,"y":111.4548568725586,"wires":[["c04c8a2f.3e48d8"]]},{"id":"c04c8a2f.3e48d8","type":"ui_dropdown","z":"3007b84d.585828","name":"port","label":"Порт","tooltip":"","place":"Выберите последовательный порт","group":"4fe0301e.33802","order":3,"width":"6","height":"1","passthru":true,"multiple":true,"options":[{"label":"/dev/ttyUSB0","value":"/dev/ttyUSB0","type":"str"},{"label":"/dev/ttyUSB1","value":"/dev/ttyUSB1","type":"str"},{"label":"/dev/ttyAMA0","value":"/dev/ttyAMA0","type":"str"}],"payload":"","topic":"","x":1311.5729064941406,"y":111.78819942474365,"wires":[["7199d023.e1c6d"]]},{"id":"bd0c13b8.18979","type":"function","z":"3007b84d.585828","name":"save","func":"var options = flow.get(\"SERIAL_Connection\") || {};\n\noptions.serialPort = msg.payload;\n\nflow.set(\"SERIAL_Connection\", options);","outputs":"0","noerr":0,"x":1480.5728759765625,"y":156.78819274902344,"wires":[]},{"id":"b9883b89.d7b0f8","type":"function","z":"3007b84d.585828","name":"save","func":"var options = flow.get(\"SERIAL_Connection\") || {};\n\noptions.unitId = msg.payload;\n\nflow.set(\"SERIAL_Connection\", options);","outputs":"0","noerr":0,"x":1480.5728759765625,"y":199.78819274902344,"wires":[]},{"id":"743b34e2.0a022c","type":"change","z":"3007b84d.585828","name":"set","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.serialBaudrate","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1161.111099243164,"y":245.78817749023438,"wires":[["6a1aeb9f.420e24"]]},{"id":"c95e660a.10c0d8","type":"function","z":"3007b84d.585828","name":"save","func":"var options = flow.get(\"SERIAL_Connection\") || {};\n\noptions.serialBaudrate = msg.payload;\n\nflow.set(\"SERIAL_Connection\", options);","outputs":"0","noerr":0,"x":1481.111068725586,"y":246.12151336669922,"wires":[]},{"id":"6c12cba3.837cc4","type":"ui_button","z":"3007b84d.585828","name":"connectSERIAL","group":"4fe0301e.33802","order":7,"width":0,"height":0,"passthru":false,"label":"Подключить","tooltip":"","color":"","bgcolor":"","icon":"compare_arrows","payload":"SERIAL_Connection","payloadType":"flow","topic":"","x":120.0173568725586,"y":409.7881774902344,"wires":[["7f6bcf05.18398"]]},{"id":"6a1aeb9f.420e24","type":"ui_dropdown","z":"3007b84d.585828","name":"BaudRate","label":"Скорость","tooltip":"","place":"Выберите скорость","group":"4fe0301e.33802","order":6,"width":0,"height":0,"passthru":true,"multiple":true,"options":[{"label":"","value":115200,"type":"num"},{"label":"","value":57600,"type":"num"},{"label":"","value":38400,"type":"num"},{"label":"","value":19200,"type":"num"},{"label":"","value":9600,"type":"num"},{"label":"","value":4800,"type":"num"},{"label":"","value":2400,"type":"num"},{"label":"","value":1200,"type":"num"},{"label":"","value":300,"type":"num"},{"label":"","value":110,"type":"num"},{"label":"","value":75,"type":"num"}],"payload":"","topic":"","x":1315.239501953125,"y":245.78817749023438,"wires":[["c95e660a.10c0d8"]]},{"id":"d52565a6.856798","type":"ui_dropdown","z":"3007b84d.585828","name":"configurations","label":"Конфигурация","tooltip":"","place":"Выберите конф...","group":"b079e2a.7753f2","order":1,"width":0,"height":0,"passthru":true,"multiple":true,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":1119.731704711914,"y":334.5819034576416,"wires":[["692f58b9.918a78"]]},{"id":"60a10bbf.dd1344","type":"inject","z":"3007b84d.585828","name":"","repeat":"","crontab":"","once":true,"topic":"init","payload":"configs_TCP","payloadType":"flow","x":749.0174331665039,"y":385.01042461395264,"wires":[["518c79c8.bf0d98"]]},{"id":"518c79c8.bf0d98","type":"function","z":"3007b84d.585828","name":"options","func":"var options = [];\n\n\n(msg.payload || []).forEach(function(opt) {\n    var tmp = {};\n    tmp[opt.name] = opt;\n    options.push(tmp);\n});\n\nmsg.options = options;\n\nreturn msg;","outputs":1,"noerr":0,"x":935.0173721313477,"y":364.01040267944336,"wires":[["d52565a6.856798"]]},{"id":"fb2f0f94.099bb","type":"ui_text_input","z":"3007b84d.585828","name":"","label":"Имя","tooltip":"","group":"b079e2a.7753f2","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":536.017333984375,"y":84.01041412353516,"wires":[["96d82679.5f3268"]]},{"id":"96d82679.5f3268","type":"function","z":"3007b84d.585828","name":"save","func":"var options = flow.get(\"TCP_Connection\") || {};\n\noptions.name = msg.payload;\n\nflow.set(\"TCP_Connection\", options);","outputs":"0","noerr":0,"x":699.5728759765625,"y":84.23263549804688,"wires":[]},{"id":"df543765.66fc68","type":"change","z":"3007b84d.585828","name":"set","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":384.5729064941406,"y":84.23263549804688,"wires":[["fb2f0f94.099bb"]]},{"id":"c8092503.4218a8","type":"ui_text_input","z":"3007b84d.585828","name":"","label":"Имя","tooltip":"","group":"4fe0301e.33802","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":1313.4617919921875,"y":67.01041412353516,"wires":[["be283b53.2c1d18"]]},{"id":"be283b53.2c1d18","type":"function","z":"3007b84d.585828","name":"save","func":"var options = flow.get(\"SERIAL_Connection\") || {};\n\noptions.name = msg.payload;\n\nflow.set(\"SERIAL_Connection\", options);","outputs":"0","noerr":0,"x":1481.017333984375,"y":67.23263549804688,"wires":[]},{"id":"88c6cbfe.471658","type":"change","z":"3007b84d.585828","name":"set","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1166.0173645019531,"y":67.23263549804688,"wires":[["c8092503.4218a8"]]},{"id":"25b7c027.8c9ff","type":"ui_dropdown","z":"3007b84d.585828","name":"configurations","label":"Конфигурация","tooltip":"","place":"Выберите конф...","group":"4fe0301e.33802","order":1,"width":0,"height":0,"passthru":true,"multiple":true,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":1117.4460067749023,"y":464.5977191925049,"wires":[["7bb61422.078f2c"]]},{"id":"ea6eba8e.556108","type":"inject","z":"3007b84d.585828","name":"","repeat":"","crontab":"","once":true,"topic":"init","payload":"configs_SERIAL","payloadType":"flow","x":744.017391204834,"y":437.4548463821411,"wires":[["174ed9b2.183ab6"]]},{"id":"174ed9b2.183ab6","type":"function","z":"3007b84d.585828","name":"options","func":"var options = [];\n\n(msg.payload || []).forEach(function(opt) {\n    var tmp = {};\n    tmp[opt.name] = opt;\n    options.push(tmp);\n});\n\nmsg.options = options;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":933.0174179077148,"y":416.4548511505127,"wires":[["25b7c027.8c9ff"]]},{"id":"7f6bcf05.18398","type":"function","z":"3007b84d.585828","name":"connect","func":"var options = msg.payload;\nvar error = {topic: \"SERIAL Connect\"};\nvar configs = flow.get('configs_SERIAL') || [];\n\noptions.connectorType = \"SERIAL\";\n\nif(!options.name || options.name === \"\"){\n    options.name = \"No name\";\n}\n\nif(!options.serialPort){\n    error.payload = \"Serial port not valid\";\n    node.error(\"Error\",error);\n    return;\n}\n\nif(!options.serialBaudrate){\n    error.payload = \"Select a Baud Rate\";\n    node.error(\"Error\",error);\n    return;\n}\n\nif(!options.unitId){\n    error.payload = \"Unit ID not Valid\";\n    node.error(\"Error\",error);\n    return;\n}\n\nvar index = configs.findIndex(function(conf) {\n    return conf.name == options.name;\n});\n\nif(index < 0)\n    configs.push(options);\nelse\n    configs[index] = options;\n    \nflow.set('configs_SERIAL', configs);\n\nnode.send([msg, {payload:configs, topic:\"init\"}]);","outputs":"2","noerr":0,"x":290.0173645019531,"y":409.8992919921875,"wires":[["3e658f6f.6cb3c","fad03663.4dbfe8"],["174ed9b2.183ab6"]]},{"id":"ea932305.81705","type":"change","z":"3007b84d.585828","name":"","rules":[{"t":"set","p":"TCP_Connection","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1458.0652198791504,"y":334.9152021408081,"wires":[["e89e1758.ef8648"]]},{"id":"ae4b6077.b942","type":"change","z":"3007b84d.585828","name":"","rules":[{"t":"set","p":"SERIAL_Connection","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1467.9221725463867,"y":464.4865942001343,"wires":[["fbd5ccd8.b8237"]]},{"id":"eab9475c.d79388","type":"link in","z":"3007b84d.585828","name":"set_tcp","links":["e89e1758.ef8648","8dee1c7f.d8241"],"x":220.46198081970215,"y":84.89933586120605,"wires":[["df543765.66fc68","387c8f76.0fe67","7246ca2.4831f34","a4883537.fd0a58"]]},{"id":"e89e1758.ef8648","type":"link out","z":"3007b84d.585828","name":"set_tcp","links":["eab9475c.d79388"],"x":1620.60462474823,"y":335.47075176239014,"wires":[]},{"id":"7f126cfa.eb6934","type":"link in","z":"3007b84d.585828","name":"set_serial","links":["fbd5ccd8.b8237","fad03663.4dbfe8"],"x":992.4618768692017,"y":66.89929580688477,"wires":[["88c6cbfe.471658","a6aa7b0b.bc7cb8","32b2795f.f9f746","52822920.d8f8b8","743b34e2.0a022c"]]},{"id":"fbd5ccd8.b8237","type":"link out","z":"3007b84d.585828","name":"set_serial","links":["7f126cfa.eb6934"],"x":1630.175989151001,"y":464.0420923233032,"wires":[]},{"id":"370ac568.63436a","type":"inject","z":"3007b84d.585828","name":"init","repeat":"","crontab":"","once":false,"topic":"","payload":"{\"options\":[]}","payloadType":"json","x":728.9999771118164,"y":505.57143783569336,"wires":[["258db9e.0d0fa46","d52565a6.856798","25b7c027.8c9ff"]]},{"id":"258db9e.0d0fa46","type":"function","z":"3007b84d.585828","name":"init confs","func":"flow.set(\"configs_TCP\", null);\nflow.set(\"configs_SERIAL\", null);","outputs":"0","noerr":0,"x":886.7143058776855,"y":506.00001430511475,"wires":[]},{"id":"692f58b9.918a78","type":"switch","z":"3007b84d.585828","name":"check","property":"topic","propertyType":"msg","rules":[{"t":"neq","v":"init","vt":"str"}],"checkall":"true","outputs":1,"x":1277.8570747375488,"y":335.14288997650146,"wires":[["ea932305.81705"]]},{"id":"7bb61422.078f2c","type":"switch","z":"3007b84d.585828","name":"check","property":"topic","propertyType":"msg","rules":[{"t":"neq","v":"init","vt":"str"}],"checkall":"true","outputs":1,"x":1277.0000076293945,"y":464.42857837677,"wires":[["ae4b6077.b942"]]},{"id":"f4c74bcc.c754b8","type":"catch","z":"3007b84d.585828","name":"","scope":["7f6bcf05.18398","81514fd0.532d5"],"x":160.00000762939453,"y":496.42858505249023,"wires":[["469a0794.8fa5e8"]]},{"id":"469a0794.8fa5e8","type":"ui_toast","z":"3007b84d.585828","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"Error","name":"error","x":320,"y":496.4285774230957,"wires":[]},{"id":"8dee1c7f.d8241","type":"link out","z":"3007b84d.585828","name":"init_tcp","links":["eab9475c.d79388"],"x":431.42858600616455,"y":330.2857265472412,"wires":[]},{"id":"fad03663.4dbfe8","type":"link out","z":"3007b84d.585828","name":"init_serial","links":["7f126cfa.eb6934"],"x":426.42856788635254,"y":453.1428499221802,"wires":[]},{"id":"ae1af357.01906","type":"inject","z":"3007b84d.585828","name":"","repeat":"1","crontab":"","once":false,"topic":"init","payload":"{\"payload\":null}","payloadType":"json","x":838.5714492797852,"y":307.1428499221802,"wires":[["d52565a6.856798","25b7c027.8c9ff"]]},{"id":"b079e2a.7753f2","type":"ui_group","name":"TCP","tab":"1810c2ba.d68d0d","order":2,"disp":true,"width":"6"},{"id":"5876d9d3.3456c8","type":"modbus-client","name":"MODSCAN","clienttype":"serial","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectTimeout":"2000"},{"id":"4fe0301e.33802","type":"ui_group","name":"Serial","tab":"1810c2ba.d68d0d","order":1,"disp":true,"width":"6"},{"id":"1810c2ba.d68d0d","type":"ui_tab","name":"Конфигурация устройства","icon":"dashboard","order":6,"disabled":false,"hidden":false}]